{% extends 'base.html.twig' %}

{% block title %}Adopte un alternant{% endblock %}

{% block body %}

<div class="container">

	{# 2 premiers blocs : accès candidat/entreprise #}
	<div class="row justify-content-around">
		<div class="col-md-6">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h5 class="card-title">Vous êtes un candidat ?</h5>
						<a href="#" class="btn btn-primary">Cliquez ici</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h5 class="card-title">Vous êtes une entreprise ?</h5>
						<a href="#" class="btn btn-primary">Cliquez ici</a>
				</div>
			</div>
		</div>
	</div>

	{# 3e bloc : en savoir plus sur l'alternance #}
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h5 class="card-title">En savoir plus sur l'alternance</h5>
						<a href="#" class="btn btn-primary">Cliquez ici</a>
				</div>
			</div>
		</div>
	</div>

	{# 4e bloc : témoignage de la semaine #}
	<div class="row justify-content-center">
		<div class="col-md-9">
			<div class="card bg-light text-center">
				<div class="card-header">
					Le témoignage de la semaine
				</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
					<p>"L'alternance, c'est ma vie, c'est mon essence"</p>
					<footer class="blockquote-footer">Roger Alternation</footer>
					</blockquote>
				</div> 
			</div>
		</div>
	</div>

</div>
{% endblock %}
