{% extends 'base.html.twig' %}

{% block title %}Adopte un alternant{% endblock %}

{% block body %}

<div class="container">

	{# 2 premiers blocs : accès candidat/entreprise #}
	<div class="row justify-content-around">
		<div class="col-md-6">
			<div class="card text-center shadow home-block">
				<div class="card-body">
					<h5 class="card-title">Je suis un candidat</h5>
						<a href="#" class="btn btn-light">Cliquez ici</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card text-center shadow home-block">
				<div class="card-body">
					<h5 class="card-title">Je suis une entreprise</h5>
						<a href="#" class="btn btn-light">Cliquez ici</a>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
