{{ form_start(visitCardForm, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(visitCardForm.adopted) }}

        {{ form_row(visitCardForm.visibilityChoice) }}

<button type="submit" class="btn btn-secondary mb-2">Valider</button>
    </button>
{{ form_end(visitCardForm) }}