{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}

<div class="container">

    <div class="h4 text-center my-3 p-0 col-12">Modifier mes informations personnelles</div>
    
    <div class="col-12 col-md-6 col-lg-5 mx-auto my-3">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-secondary mb-2 p-2 col-6 d-block mx-auto">
                Enregistrer les modifications
            </button>
        {{ form_end(form) }}
    </div>
    
</div>

{% endblock %}