<h3>Mot de passe oublié</h3>

Bonjour, {{ user.firstname }}.

Veuillez cliquer <a href="{{ url('login') }}">ici</a> pour définir votre nouveau mot de passe.

Si vous n'êtes pas à l'origine de cette opération, veuillez modifier votre mot de passe dans votre profil.

Merci !

AdopteUnAlternant.com
