{{ form_start(visitCardForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(visitCardForm) }}
    <button type="submit" class="btn btn-secondary mb-2 p-2 col-12">
        Valider
    </button>
    </a>
{{ form_end(visitCardForm) }}