{{ form_start(isCandidateForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(isCandidateForm) }}
    <button type="submit" class="btn btn-secondary mb-2 p-2 col-12">
        Valider
    </button>
    </a>
{{ form_end(isCandidateForm) }}