
{{ form_start(isCandidateForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(isCandidateForm.pictureFile) }}
    <button type="submit" class="btn btn-outline-success mb-2 col-1">
        <i class="fas fa-check"></i>
    </button>
    {{ form_row(isCandidateForm.phoneNumber) }}
    <button type="submit" class="btn btn-outline-success mb-2 col-1">
        <i class="fas fa-check"></i>
    </button>
{{ form_end(isCandidateForm) }}