<h3>Validez votre inscription</h3>

<p>Bienvenue sur AdopteUnAlternant.com {{ app.user.firstname}} !</p>

<p>Pour valider votre inscription, veuillez cliquer .</p>

<p>Merci !</p>

<p>L'équipe d'AdopteUnAlternant.com</p>
