{% extends 'base.html.twig' %}

{% block title %}Je suis une entreprise{% endblock %}

{% block body %}
<div class="container">

	{#bloc synthèse du profil et boc ils ont vu votre profil#}
	
		<div class="col-md-12">
			<div class="card text-center shadow home-choice mt-3">
				<div class="card-body">
					<h5 class="card-title">Ils recherchent:</h5>
                    <ul>
                    {% for visitCard in visitCards %}

                        {% if visitCard.visibilityChoice == 0 %}

                        {% elseif visitCard.visibilityChoice == 1 %}
                        <li class="card text-left">{{visitCard.isCandidate.user.firstname}}</li>

                        {% else %}
                        <li class="card text-left">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.user.lastname}}</li>

                        {% endif %}


                    {% endfor %}
                    
                    </ul>
						<a href="{{ path('candidates_list') }}" class="btn btn-light">Voir plus</a>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card text-center shadow home-choice mt-3">
				<div class="card-body">
					<h5 class="card-title">En savoir plus sur l'alternance</h5>
						<a href="#" class="btn btn-light">Voir</a>
				</div>
			</div>
		</div>
	

	{#bloc expérience et boc en savoir plus sur l'alternance#}
	
		<div class="col-md-12">
			<div class="card text-center shadow home-choice mt-3">
				<div class="card-body">
					<h5 class="card-title">Ils témoignent.....</h5>
						<a href="#" class="btn btn-light">Voir</a>
				</div>
			</div>
		</div>
		<div class="col-md-12 ">
			<div class="card text-center shadow home-choice mt-3 mb-3">
				<div class="card-body">
					<h5 class="card-title">Inscription</h5>
						<a href="#" class="btn btn-light">Cliquez ici</a>
				</div>
			</div>
		</div>
	

   

</div>

{% endblock %}
